@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: 'Muli', sans-serif;
}

main{
  overflow: hidden;
  margin: 0;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide{
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
  box-shadow: inset 0 -100px 100px black;
}

.slide h3{
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active{
  flex: 10;
}

.slide.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

nav{
  height: 10vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 10% 0 10%;
  background-color: #e1e1e1;
}

a{
  text-decoration: none;
  color: black;
  transition: all ease 0.5s;
}

a:hover{
  color:rgb(158, 158, 158);
}